---
//エラー用コンポーネント
import Circle_x from '../../public/img/circle-x.svg';
---

<div class="error-wrapper">
  <Circle_x class="error-icon" />
  <div class="error-box">
    <slot />
  </div>
</div>

<style>
.error-icon{
  height: 1rem;
  width: 1rem;
  margin-inline-end: 1rem;
  :nth-child(1) {
    fill: var(--error);
  }
  :nth-child(2) {
    fill: var(--surface);
  }
}

.error-wrapper{
  display: flex;
  align-items: center;
  padding: 1.1rem;
  margin-block: 1rem;
  background-color: var(--error-container);
  border-radius: 10px;
}
</style>